<h1>Sign up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="YourName" required>
    <input type="email" name="email" placeholder="Your E-mail" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="ConfirmPassword" required>
    <input type="submit" value="Sign_Up">
</form>

<p>
    <a href="/users/auth/google">Google SignIn/SignUp</a>
</p>