.home-conatiner{

    display : flex;

}


 #feed-post{
      
        width: 70%;
        padding: 10px;
        height: fit-content;
    }
    
  #user-friends{
      
        width: 30%;
        padding: 10px;
        border-left: 10px  solid #9ad4fb;
        height: 100%;
    }

 
